*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

:root{
    --main-color: #1e90ff;
    --main-color-dark: #165da3;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
    scroll-behavior: smooth;

}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 500px;
    transform: translateX(-200px);
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

@keyframes text-animated{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateY(-1000%);
    }
}

@keyframes intro-text-animated{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateY(-1500%);
    }
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    animation: text-animated ease-in-out;
    animation-timeline: scroll(root block);
}

.intro-text{
    animation: intro-text-animated ease-in-out;
    animation-timeline: scroll(root block);
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: var(--main-color);
    transition: color 0.5s;
}

.header-text h1 span:hover{
    color: var(--main-color-dark)
}

.social-icons{
    margin-top: 10px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.5s;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@keyframes about-image-animated{
    0%{
        transform: translateX(-200%);
    }

    25%{
        transform: translateX(0);
    }
}

@keyframes about-subtitle-animated{
    0%{
        transform: translateX(200%);
    }

    24%{
        transform: translateX(0);
    }
}

@keyframes about-content-animated{
    0%{
        transform: translateX(200%);
    }

    25%{
        transform: translateX(0);
    }
}

.about-col-1{
    flex-basis: 35%;
    animation: about-image-animated ease-in-out;
    animation-timeline: scroll(root block);
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    animation: about-subtitle-animated ease-in-out;
    animation-timeline: scroll(root block);
}

.about-col-2 .content{
    animation: about-content-animated ease-in-out;
    animation-timeline: scroll(root block);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: var(--main-color-dark);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#carousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
}

#carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carousel .list .item .content{
    position: absolute;
    top: 20%;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

#carousel .list .item .content-2{
    position: absolute;
    top: 20%;
    max-width: 80%;
    right: 50%;
    transform: translateX(110%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

#carousel .list .item .content .author,
#carousel .list .item .content-2 .author{
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--main-color);

}

#carousel .list .item .content .title,
#carousel .list .item .content-2 .title,
#carousel .list .item .content .topic,
#carousel .list .item .content-2 .topic{
    font-weight: bold;
    font-size: 2em;
    list-style: 1.3em;
    
}

#carousel .list .item .content .des,
#carousel .list .item .content-2 .des{
    font-size: 0.75em;    
}

#carousel .list .item .content .buttons,
#carousel .list .item .content-2 .buttons{
    display: grid;
    margin-top: 20px;
}

#carousel .list .item .content button,
#carousel .list .item .content-2 button{
    letter-spacing: 1px;
    font-weight: 550;
    font-size: large;
    background-color: rgba(78, 78, 78, 0.55);
    color: var(--main-color);
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;

}

#carousel .list .item .content button:hover,
#carousel .list .item .content-2 button:hover{
    background-color: rgba(78, 78, 78, 0.35);

}

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 5;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 0.712);
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
    transition: 0.5s;
}

.arrows button:hover{
    background-color: var(--main-color);
    color: #555;
    width: 45px;
    height: 45px;
}

#carousel .list .item:nth-child(1){
    z-index: 1;
}

#carousel .list .item:nth-child(1) .author,
#carousel .list .item:nth-child(1) .title,
#carousel .list .item:nth-child(1) .topic,
#carousel .list .item:nth-child(1) .des,
#carousel .list .item:nth-child(1) .buttons{
    transform: translateY(500%);
    filter: blur(20px);
    opacity: 0;
    animation: show-content .5s 1s linear 1 forwards;

}

@keyframes show-content{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

}

#carousel .list .item:nth-child(1) .author{
    animation-delay: 0.1;
}

#carousel .list .item:nth-child(1) .title{
    animation-delay: 0.2s;
}

#carousel .list .item:nth-child(1) .topic{
    animation-delay: 0.3s;
}

#carousel .list .item:nth-child(1) .des{
    animation-delay: 0.4s;
}

#carousel .list .item:nth-child(1) .buttons{
    animation-delay: 0.5s;
}

#carousel.next .list .item:nth-child(1) img{
    position: absolute;
    left: 100%;
    animation: showImage .4s ease-in-out 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

#carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

#carousel.next .time,
#carousel.prev .time{
    animation: runningTime 0.4s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

#carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

#carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.4s ease-in-out 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        left: 100%;
    }
}

#carousel.next .arrows button,
#carousel.prev .arrows button{
    pointer-events: none;
}
#carousel.prev .list .item:nth-child(2) .content .author,
#carousel.prev .list .item:nth-child(2) .content .title,
#carousel.prev .list .item:nth-child(2) .content .topic,
#carousel.prev .list .item:nth-child(2) .content .des,
#carousel.prev .list .item:nth-child(2) .content .buttons,
#carousel.prev .list .item:nth-child(2) .content-2 .author,
#carousel.prev .list .item:nth-child(2) .content-2 .title,
#carousel.prev .list .item:nth-child(2) .content-2 .topic,
#carousel.prev .list .item:nth-child(2) .content-2 .des,
#carousel.prev .list .item:nth-child(2) .content-2 .buttons
{
    animation: contentOut 0.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.pdf embed{
    position:absolute;
    transform: translateX(25vw);
}

nav .fa-solid{
    display: none;
}

#resume .subtitle{
    color: var(--main-color);    
    transform: translateX(42vw);
    margin-top: 50px;
    margin-bottom: 30px;
    transition: 0.5s;
    animation: none;
}

#resume .subtitle:hover{
    color: var(--main-color-dark)
}

@media only screen and (max-width: 600px){
    /* #header{
        background-image: url(images/phone-background.png);
    } */

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: var(--main-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}